Web References/FatigueManager/FatigueCalculatorData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FatigueCalculatorData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://marcusholmes.biz/FatigueManager/FatigueCalculatorData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://marcusholmes.biz/FatigueManager/FatigueCalculatorData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFatigueCalculatorData_LogCalc_InputMessage">
    <wsdl:part name="parameters" element="tns:LogCalc" />
  </wsdl:message>
  <wsdl:message name="IFatigueCalculatorData_LogCalc_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogCalcResponse" />
  </wsdl:message>
  <wsdl:message name="IFatigueCalculatorData_TestConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnect" />
  </wsdl:message>
  <wsdl:message name="IFatigueCalculatorData_TestConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IFatigueCalculatorData_IsIdentityOnLog_InputMessage">
    <wsdl:part name="parameters" element="tns:IsIdentityOnLog" />
  </wsdl:message>
  <wsdl:message name="IFatigueCalculatorData_IsIdentityOnLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsIdentityOnLogResponse" />
  </wsdl:message>
  <wsdl:message name="IFatigueCalculatorData_lastLogEntryForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:lastLogEntryForUser" />
  </wsdl:message>
  <wsdl:message name="IFatigueCalculatorData_lastLogEntryForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:lastLogEntryForUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IFatigueCalculatorData">
    <wsdl:operation name="LogCalc">
      <wsdl:input wsaw:Action="http://tempuri.org/IFatigueCalculatorData/LogCalc" message="tns:IFatigueCalculatorData_LogCalc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFatigueCalculatorData/LogCalcResponse" message="tns:IFatigueCalculatorData_LogCalc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IFatigueCalculatorData/TestConnect" message="tns:IFatigueCalculatorData_TestConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFatigueCalculatorData/TestConnectResponse" message="tns:IFatigueCalculatorData_TestConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsIdentityOnLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IFatigueCalculatorData/IsIdentityOnLog" message="tns:IFatigueCalculatorData_IsIdentityOnLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFatigueCalculatorData/IsIdentityOnLogResponse" message="tns:IFatigueCalculatorData_IsIdentityOnLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lastLogEntryForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFatigueCalculatorData/lastLogEntryForUser" message="tns:IFatigueCalculatorData_lastLogEntryForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFatigueCalculatorData/lastLogEntryForUserResponse" message="tns:IFatigueCalculatorData_lastLogEntryForUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFatigueCalculatorData" type="tns:IFatigueCalculatorData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogCalc">
      <soap:operation soapAction="http://tempuri.org/IFatigueCalculatorData/LogCalc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnect">
      <soap:operation soapAction="http://tempuri.org/IFatigueCalculatorData/TestConnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsIdentityOnLog">
      <soap:operation soapAction="http://tempuri.org/IFatigueCalculatorData/IsIdentityOnLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lastLogEntryForUser">
      <soap:operation soapAction="http://tempuri.org/IFatigueCalculatorData/lastLogEntryForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FatigueCalculatorData">
    <wsdl:port name="BasicHttpBinding_IFatigueCalculatorData" binding="tns:BasicHttpBinding_IFatigueCalculatorData">
      <soap:address location="http://marcusholmes.biz/FatigueManager/FatigueCalculatorData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>